<!DOCTYPE html>
<html>

<head>
    <title>KYKO - MENU</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/menu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="KYKO - The Flavours of Modern Asia">
    <meta name="keywords" content="kyko, sushi, japanese, asian, restaurant, germany, modern, fusion, cuisine, reservation">
    <link rel="icon" type="image/x-icon" href="/images/kyko_favico.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="navbar">
        <div id="menu_controller" class="has_transition_600" style="animation: fade-in 0s 0s ease-in-out forwards;">
            <div id="lines" class="has_transition_600">
                <hr class="has_transition_600 _1">
                <hr class="has_transition_600 _2">
                <hr class="has_transition_600 _3">
            </div>
        </div>
        <div class="nav">
            <ul>
                <a class="nav-links" href="/">
                    <li>home</li>
                </a>
                <a class="nav-links" href="/menu">
                    <li>menu</li>
                </a>
                <a class="nav-links" href="/career">
                    <li>karriere</li>
                </a>
                <a class="nav-links" href="/#gallery">
                    <li>gallery</li>
                </a>
                <a class="nav-links" href="/#about-us">
                    <li>about</li>
                </a>
                <a class="nav-links" href="/privacy">
                    <li>privacy policy</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="menu-page-full">
        <div class="grid lg:grid-cols-3 sm:grid-cols-1">
            <div class="asian-line flex items-center">
                <img class="w-full" src="images/line2.png" />
            </div>
            <h1 class="text-6xl font-bold text-center mt-4 mb-4" style="color: #FCC86C;">OUR MENU</h1>
            <div class="asian-line flex items-center">
                <img class="w-full" src="images/line2.png" />
            </div>
        </div>

        <!-- PDF MENU BUTTON -->
        <section class="flex justify-center mt-6">
            
            <a href="/kyko-menu">
                <button onclick="pdfMenuButton()" tag="reservation-button"
                    class="bg-transparent hover:bg-[#fcc86c] hover:text-[#2e2d2c] text-[#fcc86c] text-lg font-extrabold py-1 px-5 rounded inline-flex items-center"
                    style="border: solid 2px #fcc86c; border-radius: 0;">
                    <span>MENU PDF</span>
                </button>
            </a>
        </section>

        <!-- BEGIN: Category and Food    Items -->
        <div class="menu-body grid grid-cols-1 gap-12">
            <% categories.forEach(function(category) { %>
                <div class="menu-page">
                    <div class="grid lg:grid-cols-3 sm:grid-cols-1 menu-name">
                        <hr>
                        <h1 class="text-xl font-light text-center mt-4 mb-4" style="color: #FCC86C;">
                            <%= category.title %>
                        </h1>
                        <hr>
                    </div>
                    <ol>

                        <!-- Iterate over food items and display only those whose category is category._id-->
                        <% foodItems.forEach(function(foodItem) { var foodItemCategory=foodItem.categoryId; var
                            categoryID=category._id; %>
                            <% if (JSON.stringify(foodItemCategory)==JSON.stringify(categoryID)) { %>
                                <li class="menu-item">
                                    <h1 class="item-name">
                                        <span class="item-id">
                                            <%= foodItem.dishId %>.
                                        </span>
                                        <%= foodItem.title %><span class="serving-size">
                                                <%= foodItem.hasVariety ? "(" + foodItem.code + ")" : '' %>
                                            </span>
                                    </h1>
                                    <div class="flex item-content">
                                        <div class="flex-auto w-9/12 item-description">
                                            <%= foodItem.description %>
                                        </div>
                                        <div class="flex-auto w-3/12 item-price">
                                            <%= foodItem.hasVariety ? '' : foodItem.cost %>
                                        </div>
                                    </div>
                                    <% if (foodItem.hasVariety) { %>
                                        <% foodItem.varieties.forEach(function(variety, index) { %>
                                            <div class="flex item-content">
                                                <div class="flex-auto w-9/12 item-addons-container">
                                                    <p class="item-addon"><span class="addon-hiphen">-</span>
                                                        <%= variety %><span class="addon-custom">
                                                                <%= foodItem.varietiesCode[index].trim().length> 0 ? "("
                                                                    + foodItem.varietiesCode[index] + ")" : ''%>
                                                            </span>
                                                    </p>
                                                </div>
                                                <div class="flex-auto w-3/12 item-price">
                                                    <%= foodItem.varietiesCost[index] %>
                                                </div>
                                            </div>
                                            <% }) %>
                                                <% } %>
                                </li>

                                <% } %>
                                    <% }) %>
                    </ol>
                </div>
                <% }) %>
        </div>

        <!-- This is an example component -->
        <!--<div class="menu-body grid lg:grid-cols-2 sm:grid-cols-1 gap-12">
        <div class="menu-page">
            <div class="grid lg:grid-cols-3 sm:grid-cols-1 menu-name">
                <hr>
                <h1 class="text-xl font-light text-center mt-4 mb-4" style="color: #FCC86C;">VORSPEISEN</h1>
                <hr>
            </div>
            <ol>
                <li class="menu-item">
                    <h1 class="item-name">
                        <span class="item-id">01. </span>DIAMOND ROLLS <span class="serving-size"> (f, h)</span>
                    </h1>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-description">
                            Sommerrollen gefüllt mit Wildkräutersalat, Gurken, Reisnudeln, gerösteten Sesam,
                            serviert mit einer Chili-Limetten Vinaigrette oder einem Soja - Schalotten Dip.
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>Bio Tofu<span class="addon-custom">
                                    (m, i, g)</span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>gegrillte Hühnerbrust <span
                                    class="addon-custom">(e)</span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>Tempura Garnelen<span
                                    class="addon-custom"> (i, b, c, n, m, 8) </span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <h1 class="item-name">
                        <span class="item-id">01. </span>DIAMOND ROLLS <span class="serving-size"> (f, h)</span>
                    </h1>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-description">
                            Sommerrollen gefüllt mit Wildkräutersalat, Gurken, Reisnudeln, gerösteten Sesam,
                            serviert mit einer Chili-Limetten Vinaigrette oder einem Soja - Schalotten Dip.
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>Bio Tofu<span class="addon-custom">
                                    (m, i, g)</span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>gegrillte Hühnerbrust <span
                                    class="addon-custom">(e)</span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>Tempura Garnelen<span
                                    class="addon-custom"> (i, b, c, n, m, 8) </span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="menu-page">
            <div class="grid lg:grid-cols-3 sm:grid-cols-1 menu-name">
                <hr>
                <h1 class="text-xl font-light text-center mt-4 mb-4" style="color: #FCC86C;">VORSPEISEN</h1>
                <hr>
            </div>
            <ol>
                <li class="menu-item">
                    <h1 class="item-name">
                        <span class="item-id">01. </span>DIAMOND ROLLS <span class="serving-size">(f, h)</span>
                    </h1>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-description">
                            Sommerrollen gefüllt mit Wildkräutersalat, Gurken, Reisnudeln, gerösteten Sesam,
                            serviert mit einer Chili-Limetten Vinaigrette oder einem Soja - Schalotten Dip.
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>Bio Tofu <span
                                    class="addon-custom"> (m, i, g)</span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>gegrillte Hühnerbrust <span
                                    class="addon-custom"> (e)</span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                    <div class="flex item-content">
                        <div class="flex-auto w-9/12 item-addons-container">
                            <p class="item-addon"><span class="addon-hiphen">-</span>Tempura Garnelen <span
                                    class="addon-custom"> (i, b, c, n, m, 8) </span></p>
                        </div>
                        <div class="flex-auto w-3/12 item-price">
                            9.6
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>-->
        <footer class="bg-white rounded-lg shadow dark:bg-[#2E2D2C] m-4">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="https://flowbite.com/"
                        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                        <img src="images/kyko_logo_3.png" class="h-12" alt="Kyko Logo" />
                    </a>
                    <span class="text-gray-400">
                        <p>Restaurant Timings : 9AM to 11PM &nbsp; | &nbsp;
                            Store Location : Somewhere in Asia</p>
                    </span>
                    <ul
                    class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="/home#about" class="hover:underline me-4 md:me-6">About</a>
                    </li>
                    <li>
                        <a href="/privacy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                    </li>
                </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-500 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a
                        href="https://flowbite.com/" class="hover:underline">KYKO</a>. All Rights Reserved.</span>
            </div>
        </footer>
    </div>
    <script>
        const navToggle = document.querySelector('#menu_controller');
        const nav = document.querySelector('.nav');
        const page = document.querySelector('.menu-page-full');

        navToggle.addEventListener('click', () => {
            nav.style.display = 'block';
            nav.classList.toggle('nav--visible');
            page.classList.toggle('page--invisible');
            // setTimeout(() => {
            //     page.classList.toggle('page--hidden');
            // }, 300);

        });
        const navLinks = document.querySelectorAll('.nav-links');

        navLinks.forEach(link => {
            link.addEventListener('click', () => {
                nav.classList.remove('nav--visible');
                page.classList.remove('page--invisible');
            });
        });
    </script>
    <script>
        window.addEventListener('scroll', () => {
            const controller = document.querySelector('#menu_controller');
            if (window.scrollY > 50) {
                controller.classList.add('change-color');
            } else {
                controller.classList.remove('change-color');
            }
        });

    </script>
</body>

</html>