<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/kyko_favico.png">
</head>

<style>
    body{
        background-color: #2e2d2c;
    }
</style>

<body>
    
    <div class="min-h-full">
        <nav class="bg-[#fcc86c]">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/images/kyko_logo_dark.png"
                                alt="KYKO" />
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="/dashboard" class="bg-[#2e2d2c] text-[#fcc86c] rounded-md px-3 py-2 text-sm font-medium"
                                    aria-current="page">Dashboard</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <span style="color: #2e2d2c; font-weight:700">Welcome, <%= user.name %></span>
                            <div class="ml-10 flex items-baseline space-x-4"></div>
                            <form action="/logout" method="GET"
                                class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                                style="color: #fcc86c; background-color: #2e2d2c">
                                <button class="logout-btn" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <span style="color: #2e2d2c; font-weight:700">Welcome, <%= user.name %></span>
                        <div class="ml-10 flex items-baseline space-x-4"></div>
                        <form action="/logout" method="GET"
                            class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                            style="color: #fcc86c; background-color: #2e2d2c">
                            <button class="logout-btn" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>


        <main style="margin-top: 20px;">
            <form class="max-w-md mx-auto" action="/dish/createDish/<%= category[0]._id %>" method="post"
                onsubmit="return addDish('<%= JSON.stringify(foodItems) %>')">
                <h1 class="text-2xl text-white font-bold mb-5">New Food Item : </h1>

                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="title">Title</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                        id="title" name="title" type="text" placeholder="Enter title" required>
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="code">Dish Code</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                        id="code" name="code" type="text" placeholder="Enter dish Code" required>
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="dishId">Dish ID</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                        id="dishId" name="dishId" type="text" placeholder="Enter dish ID" required>
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="description">Description</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                        id="description" name="description" type="text" placeholder="Enter description" required>
                </div>
                
                <div class="mb-4">
                    <label class="relative inline-flex  justify-between  cursor-pointer mt-5" for="hasvarieties">
                        <input type="checkbox" value="1" class="sr-only peer" id="hasvarieties" name="hasvarieties" >
                        <div
                            class=" w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#fcc86c]">
                        </div>
                        <span class="text-white font-bold mb-2 pr-14 ml-5">Has Varieties ?</span>
                    </label>
                </div>
                <div class="flex align-center mb-4 ml-7" id="addVarietyDiv" style="display: none;">
                    <span class="text-white  mr-2">Add a Variety</span>
                    <p class=" text-white p-2 rounded-full bg-[#fcc86c] inline-block">
                        <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                        </svg>
                    </p>
                </div>
                <div id="varieties"></div>
                <div class="mb-4" id="costdiv">
                    <label class="block text-white text-sm font-bold mb-2" for="cost">Cost</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                        id="cost" name="cost" type="number" placeholder="Enter cost" step=".01">
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="category">Category</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                        id="category" name="category" type="text" placeholder="Enter category" readonly
                        value="<%= category[0].title %>">
                </div>
                
                <div class="flex items-center justify-left">
                    <a href="/dashboard"  class="bg-[#2e2d2c] border hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-3" >
                        Back </a>
                    <button
                        class="bg-[#fcc86c] hover:bg-[#e8b65d] text-[#2e2d2c] font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                        Add Food Item
                    </button>
                </div>
            </form>
            <script>
                const hasVarietiesCheckbox = document.getElementById('hasvarieties');
                const addVarietyDiv = document.getElementById('addVarietyDiv');
                const costBlock = document.getElementById('costdiv');
                const varietiesDiv = document.getElementById('varieties');

                hasVarietiesCheckbox.addEventListener('change', function () {
                    if (this.checked) {
                        addVarietyDiv.style.display = 'flex';
                        costBlock.style.display = 'none';
                        varietiesDiv.style.display = 'block';

                    } else {
                        addVarietyDiv.style.display = 'none';
                        costBlock.style.display = 'block';
                        varietiesDiv.style.display = 'none';
                    }
                });
            </script>
            <script>
                var addVariety = document.getElementById('addVarietyDiv');
                
                addVariety.addEventListener('click',function() {
                    var variety = document.getElementById('varieties');
                    
                    const varietiesDiv = document.getElementById('varieties');
                    const lastChild = varietiesDiv.lastElementChild;
                    if(lastChild == undefined || lastChild == null)
                        var lastChildId = 0;
                    else
                        var lastChildId = lastChild.id.split('variety')[1];
                    lastChildId = Number(lastChildId) + 1;
                    variety.insertAdjacentHTML('beforeend', `
                    <div class="mb-4 ml-7" id="variety${lastChildId}">
                        <div class="flex justify-end">
                            <div class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded delVariety" id = "delete${lastChildId}">Delete</div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-white text-sm font-bold mb-2" for="varieties">Variety Name</label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                                id="varieties" name="varieties" type="text" placeholder="Enter variety name" required>
                        </div>
                        <div class="mb-4">
                            <label class="block text-white text-sm font-bold mb-2" for="varietiesCode">Variety's Code</label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                                id="varietiesCode" name="varietiesCode" type="text" placeholder="Enter Variety's code" required>
                        </div>
                        <div class="mb-4">
                            <label class="block text-white text-sm font-bold mb-2" for="cost">Variety's Cost</label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2e2d2c] text-white leading-tight focus:outline-none focus:shadow-outline"
                                id="varietiesCost" name="varietiesCost" type="number" placeholder="Enter cost" step=".01" required>
                        </div>
                </div>
                    `);
                });

                
                document.addEventListener('click', function (e) {
                    if (e.target && e.target.classList.contains('delVariety')) {
                        var id = e.target.id.split('delete')[1];
                        var variety = document.getElementById('variety' + id);
                        variety.remove();
                    }
                });


                function addDish(foodItems) {
                    // console.log(foodItems);
                    // event.preventDefault();
                    let val = document.getElementById("dishId").value;
                    // check if dishid is non integer
                    if (!Number.isInteger(Number(val))) {
                        event.preventDefault();
                        alert("Dish ID must be an integer!");
                        return false;
                    };

                    foodItems = JSON.parse(foodItems);
                    var duplicateFoodItem = foodItems.find(function (foodItem) {
                        return foodItem.dishId == val;
                    });

                    if (duplicateFoodItem) {
                        event.preventDefault();
                        alert("Item with same ID already exists!");
                        return false;
                    }
                    return true;
                }
                
            </script>

        </main>
    </div>
</body>

</html>